<div class="row edit-company">
	<div class="span12">
		<%= form_for @group, :url => { :action => "update_person" }, :html => {:class => "nifty_form"} do |f| %>
			<h2>Edit <%= f.text_field :first_name, :placeholder => "First Name" %> <%= f.text_field :last_name, :placeholder => "Last Name" %></h2>
 <% if @group.errors.any? %>
    <div id="error_explanation">
      <h5><%= pluralize(@group.errors.count, "error") %> prohibited this page from being saved:</h5>

      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  			<h4>Details</h4>
			<p>
		        <select data-placeholder="Add Members" class="chzn-select" id="class_year" name="class_year" style="width:350px;">
		        	<% (1900..2018).each do |y| %>
		        	<option value="<%= y %>" selected><%= y %></option>
		        	<option value="<%= y %>.5" selected><%= y %>.5</option>
		        	<% end %>
		        </select>				
		        <%= f.text_field :email, :placeholder => "support@example.com" %>
				<%= f.text_field :phone, :placeholder => "800-555-1232" %>
				Twitter: @<%= f.text_field :twitter, :placeholder => "Twitter @username", :style =>"width:100px;" %>
			</p>
			<p><%= f.text_area :description , :rows => "10", :style =>"width:800px;"%></p>
			<h4>Groups</h4>
			<p>
		        <select data-placeholder="Add Groups" class="chzn-select" id="groups" name="groups[]" multiple style="width:350px;">
		        	<% @groups.each do |p| %>
		        	<% if @person.groups.include? p %>
		        	<option value="<%= p.id %>" selected><%= p.name %></option>
		        	<% else %>
		        	<option value="<%= p.id %>"><%= p.name %></option>
		        	<% end %>
		        	<% end %>
		        </select>
			</p>

			<p><%= f.submit "Create", :class => "btn" %></p>


			 <!-- type: string phone: string, founded: string, : string, : string, vcet: string, : string, : string -->
		<% end %>
		<div class="clear"></div>
	</div>
</div>