<div class="db-company row">

	<div class="span12">
		<div class="page-image">
			<% if @group.picture %>
			<img src="https://s3.amazonaws.com/middvc/<%= @group.picture %>" alt="" height="30">
			<% end %>
		</div>
		<h2><%= @group.name %></h2>
		<% if @user %>
			<a href="/group/<%= @group.id %>/edit" class="btn">Edit Page</a>
		<% end %>

	</div>
</div>
<div class="db-company row">
	<div class="span3 details">
		<h4>Details</h4>
		<table>
			<% if @group.type %>
			<tr>
				<td>Category</td>
				<td>
					<%= @group.type %>
				</td>
			</tr>
			<% end %>
			<% if @group.website != "" %>
			<tr>
				<td>Website</td>
				<td>
					<a href="<%= @group.website %>" target="_self" title="strabogis.com"><%= @group.website %></a>
				</td>
			</tr>
			<% end %>
			<% if @group.twitter_id != "" %>
			<tr>
				<td>Twitter</td>
				<td>
					<a href="http://twitter.com/<%= @group.twitter_id %>" rel="nofollow"><%= @group.twitter_id %></a>
				</td>
			</tr>
			<% end %>
			<% if @group.phone != "" %>
			<tr>
				<td>Phone</td>
				<td><%= @group.phone %></td>
			</tr>
			<% end %>
			<% if @group.email != "" %>
			<tr>
				<td>Email</td>
				<td>
					<a href="mailto:<%= @group.email %>" rel="nofollow" title="<%= @group.email %>"><%= @group.email %></a>
				</td>
			</tr>
			<% end %>
			<% if @group.founded %>
			<tr>
				<td>Founded</td>
				<td><%= @group.founded %></td>
			</tr>
			<% end %>
		</table>
	</div>
	<div class="span4">
		<h4>Description</h4>
		<p><%= @group.description %></p>
	</div>
	<div class="span4">
		<h4>Middlebury Activity</h4>
		<table>
			<% if @group.middstart != "" %>
			<tr>
				<td>
					<a href="http://go.middlebury.edu/middstart" target="_blank"><img src="/assets/middstart.jpg" alt="MiddStart" height="10" style="height:18px;"></a>
				</td>
				<td><%= @group.middstart %></td>
			</tr>
			<% end %>
			<% if @group.millenium_interns != "" %>
			<tr>
				<td>
					<a href="http://www.middlebury.edu/studentlife/eia/internships" target="_blank">Millenium Fund Interns</a>
				</td>
				<td><%= @group.millenium_interns %></td>
			</tr>
			<% end %>
			<% if @group.vcet != "" %>
			<tr>
				<td><a href="http://vermonttechnologies.com" target="_blank">VCET</a></td>
				<td><%= @group.vcet %></td>
			</tr>
			<% end %>
			<% if @group.operations_in_midd != "" %>
			<tr>
				<td>Operation in Middlebury</td>
				<td><%= @group.operations_in_midd %></td>
			</tr>
			<% end %>
			<% if @group.midd_employees != "" %>
			<tr>
				<td>Middlebury Employees</td>
				<td><%= @group.midd_employees %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>
<div class="db-company row">
	<div class="span3">
		<h4>People</h4>
		<table>
			<% @group.connections.each do |c| %>
			<tr>
				<td>
					<a href="/person/<%= c.person.id %>"><%= c.person.first_name %> <%= c.person.last_name%></a>
				</td>
				<td><%= c.role %></td>
				<td><%= c.person.class_year %></td>
			</tr>
			<% end %>
		</table>
	</div>
	<div class="span4">
		<h4>Video</h4>
		<% if @group.video.nil? %>
		<p>No video has been uploaded</p>
		<% else %>
		<iframe width="300" height="240" src="<%= @group.video %>" frameborder="0" allowfullscreen></iframe>
		<% end %>
	</div>
	<div class="span4">
		<h4>News</h4>
		<ul>
		<% @group.references.each do |r| %>

			<li><a href="/article/<%= r.article.id %>"><%= r.article.title %></a></li>

		<% end %>
		</ul>
	</div>
</div>

