<div class="db-company row">
	<div class="span7">
		<h2>Groups</h2>
	        <select data-placeholder="Group" class="chzn-select" id="group_select" style="width:300px;" ONCHANGE="location = this.options[this.selectedIndex].value;">
			<% @groups.each do |g| %>
	        	<option value="/group/<%= g.id %>/"><%= g.name %></option>
			<% end %>
	        </select>


		<h2>People</h2>
	        <select data-placeholder="Person" class="chzn-select" id="person_select" style="width:300px;" ONCHANGE="location = this.options[this.selectedIndex].value;">
			<% @people.each do |p| %>
	        	<option value="/person/<%= p.id %>/"><%= p.first_name %> <%= p.last_name %></option>
			<% end %>
	        </select>


	</div>
		<h2>Contribute</h2>
	<% if @user %>
	<div class="span4">
		<p><a class="btn" href="/group/new">Add Group</a></p>
		<p><a class="btn" href="/person/new">Add Person</a></p>
	</div>
	<% else %>
		<p><a class="btn" href="/register">Register</a></p>
		<p>Register in order to contribute to the database</p>
	<% end %>
</div>