<div class="db-company row">
	<div class="span7">
		<h2>Groups</h2>
		<ul>
		<% @groups.each do |g| %>
		<li><a href="/group/<%= g.id %>"><%= g.name %></a></li>
		<% end %>
	
		</ul>

		<h2>People</h2>
		<ul>
		<% @people.each do |g| %>
		<li><a href="/person/<%= g.id %>"><%= g.first_name %> <%= g.last_name %></a></li>
		<% end %>
	
		</ul>

	</div>
	<div class="span4">
		<h2>Contribute</h2>
		<p><a class="btn" href="/group/new">Add Group</a></p>
		<p><a class="btn" href="/person/new">Add Person</a></p>
	</div>

</div>