<div class="db-company row">

	<div class="span12">
		<div class="page-image">
			<% if @person.picture %>
			<img src="https://s3.amazonaws.com/middvc/<%= @person.picture %>" alt="" height="30">
			<% end %>
		</div>
		<h2><%= @person.first_name %> <%= @person.last_name %></h2>
		<% if @user %>
			<a href="/person/<%= @person.id %>/edit" class="btn">Edit Page</a>
		<% end %>
	</div>
</div>
<div class="db-company row">
	<div class="span3 details">
		<h4>Details</h4>
		<table>
			<% if !@person.connections.empty? and @person.connections.last.role %>
			<tr>
				<td>
					<%= @person.connections.last.role or "Worked" %> at 
					<a href="/group/<%= @person.connections.last.group.id %>"><%= @person.connections.last.group.name %></a>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
	<div class="span4">
		<h4>Description</h4>
		<p><%= @person.description %></p>
	</div>
	<div class="span4">
		<h4>Organizations/Companies</h4>
		<table>
			<% @person.connections.each do |c| %>
			<tr>
				<td>
					<% if c.role == nil %>
					<% c.role = "Worked " %>
					<% end %>
					<% if c.start_date and c.end_date %>
					<%= c.role %> at <a href="/group/<%= c.group.id %>"><%= c.group.name %></a> (<%= c.start_date.to_date.mon %>-<%= c.start_date.to_date.year %> to <%= c.end_date.to_date.mon %>-<%= c.end_date.to_date.year %>)
					<% else %>
					<%= c.role %> at <a href="/group/<%= c.group.id %>"><%= c.group.name %></a>
					<% end %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</div>
<div class="db-company row">
	<% if @person.author %>
	<div class="span4">
		<h4>Articles</h4>
		<ul>
		<% if !@person.articles.empty? %>
		<% @person.articles.reverse.each do |a| %>

			<li><a href="/article/<%= a.id %>"><%= a.title %></a></li>

		<% end %>
		<% else %>
			<li>No articles have been written</li>
		<% end %>
		</ul>
	</div>
	<% end %>
	<div class="span4">
		<h4>In The News</h4>
		<ul>
		<% if !@person.references.empty? %>
		<% @person.references.reverse.each do |r| %>

			<li><a href="/article/<%= r.article.id %>"><%= r.article.title %></a></li>

		<% end %>
		<% else %>
			<li>Tagged in no articles</li>
		<% end %>
		</ul>
	</div>
</div>
<div class="db-company row">

</div>
