<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Midd Ventures</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

<body>
	<div class="container">
		<header class="main">
			<div class="login">
				<% if !session[:user] %>
				<a href="/login">Login</a> | <a href="/register">Register</a> 
				<% else %>
				Hello, <%= @user.first_name %> &nbsp;&nbsp;&nbsp;<a href="/logout">Logout</a>
				<% end %>
			</div>
			<h1><a href="/">midd ventures</a></h1>
		</header>
		<div id="main">
			<div class="navbar">
				<div class="navbar-inner">
					<ul class="nav">
						<li class="<%= @news_link %>">
							<a href="/">Home</a>
						</li>
						<li class="<%= @db_link %>">
							<a href="/community">Database</a>
						</li>
						<% if @user and @user.author %>
						<li class="<%= @create_link %>">
							<a href="/article/create">Write a Post</a>
						</li>
						<% end %>
					</ul>
				</div>
			</div>

			<%= yield %>


		</div>
		<footer class="main">
			&copy; 2013, Midd Venture Community	
		</footer>
	</div>

	<script type="text/javascript"> 
	$(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true});


	</script>

</body>
</html>
